<?xml version="1.0" encoding="utf-8"?>
<Plans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WebUrl></WebUrl>
  <List>
  <Plan>
    <!--运行函数-->
    <ProcedureName>usp_ChengjiaojgTermOfValidity</ProcedureName>
    <!--定时运行间隔 0（年）1（月）2（日）3（星期）4（时）5（分）6（秒）-->
    <Interval>2</Interval>
    <!--是否启动-->
    <Enabled>true</Enabled>
    <!--时间-->
    <Time>00:00:00</Time>
    <!--数据链接-->
    <ConnectionString>Data Source=139.199.183.24;User ID=paas;Password=pass@word1;Initial Catalog=purecms_yujiacrm;Pooling=true;Max Pool Size = 1000;</ConnectionString>
  </Plan>
  </List>
</Plans>